# YouTube Data API v3 key
# Get one at: https://console.cloud.google.com/apis/library/youtube.googleapis.com
YOUTUBE_API_KEY=

# Optional: default region / language for searches (user can override in UI)
NEXT_PUBLIC_DEFAULT_REGION=KR
NEXT_PUBLIC_DEFAULT_LANGUAGE=ko
